 <div id='templates'>
  <ul>
    <% @templates.each_with_index do |template, index| %>
        <li>
          <a href="/forms/<%= template['id'] %>" method="get"><%= template['title'] %></a>
          <a href="/forms/<%= template['id'] %>/edit" method="get">Edit</a>
          <form action="/forms/<%= template['id'] %>/delete" method="post">
            <button type="submit">Delete</button>
          </form>
        </li>
    <% end %>
  </ul>
</div>

<div id='evaluations'>
  <ul>
    <% @evaluations.each do |eval| %>
      <li>
        <a href="/eval/<%= eval[:id] %>"><%= eval[:title] %></a>
      </li>
    <% end %>
  </ul>
</div>


<form action="/forms/create" method="get" #class="create">
    <button type="submit">Create A New Document</button>
</form>