
<h1><%= @form_name %></h1>
  <ul>
  <% @criteria.each_with_index do |info, index| %>
    <li>
      <% if info[:type] == "graded_criteria" %>
        <strong><%= info[:text] %></strong>
          
          <div class="rating-container">
            <div class="row">
              
              <div>
                <p class="page-header">Daily Rating</p>
                <div class="chart-scale">
                  <button class="btn btn-scale btn-scale-asc-1">1</button>
                  <button class="btn btn-scale btn-scale-asc-2">2</button>
                  <button class="btn btn-scale btn-scale-asc-3">3</button>
                  <button class="btn btn-scale btn-scale-asc-4">4</button>
                  <button class="btn btn-scale btn-scale-asc-5">5</button>
                  <button class="btn btn-scale btn-scale-asc-6">6</button>
                  <button class="btn btn-scale btn-scale-asc-7">7</button>
                  <button class="btn btn-scale btn-scale-asc-8">8</button>
                  <button class="btn btn-scale btn-scale-asc-9">9</button>
                  <button class="btn btn-scale btn-scale-asc-10">10</button>
                </div>
                
                <div>
                  <label for="<%= info[:text] %>">
                    <textarea name="<%= info[:text] %>" rows=15 columns=300 placeholder=""></textarea>
                  </label>
                </div>

            </div>
          </div>
      </li>
    <% elsif info[:type] == "section_header" %>
      <h2><%= info[:text] %></h2>
    <% elsif info[:type] == "text_box" %>
     <strong><%= info[:text] %></strong>
      <div>
        <label for="<%= info[:text] %>">
          <textarea name="<%= info[:text] %>" rows=15 columns=300></textarea>
        </label>
      </div>
    <% end %>
    
    <form action="/forms/<%= @form_id %>/delete/<%= index %>" method="post">
      <button type="submit">Delete</button>
    </form>

  <% end %>
  </ul>



<form action="/forms/<%= @form_id %>/criteria" name="graded_criteria"   method="post" class="#">
  <input type="text" name="text" placeholder="Enter Form Text" type="text" value="">

  <button>
    Create New Criteria
  </button>

  <button type="submit" formaction="/forms/<%= @form_id %>/section-header" name="section_header" >
    Create a Subsection
  </button>

  <button atype="submit" formaction="/forms/<%= @form_id %>/text-box" name="text_box">
    Create a Text Box
  </button>

  <button type="submit" formaction="/forms/<%= @form_id %>" method="post" >
    Save Form
  </button>

  <a href="/forms" method="get">
    Cancel
  </a>
</form>


